<form action="handleSubmit" id="character-form">
  <img [src]="characterService.character.portrait" alt="CharacterPortrait" />
  <h3>Create Character</h3>
  <div class="input-group">
    <label for="name-input">Name</label>
    <input
      type="text"
      name="name"
      id="name-input"
      [(ngModel)]="characterService.character.name"
    />
  </div>

  <div class="input-group">
    <label for="gender-select">Gender</label>
    <select
      name="gender-select"
      id="gender-select"
      [(ngModel)]="characterService.character.gender"
      (change)="characterService.updatePortrait()"
    >
      <option value="m">Male</option>
      <option value="f">Female</option>
    </select>
  </div>

  <div class="input-group">
    <label for="class-select">Class</label>
    <select
      name="class-select"
      id="class-select"
      [(ngModel)]="characterService.character.class"
      (change)="characterService.updatePortrait()"
    >
      <option value="mage">Mage</option>
      <option value="knight">Knight</option>
      <option value="bard">Bard</option>
      <option value="thief">Thief</option>
      <option value="cleric">Cleric</option>
    </select>
  </div>

  <div class="input-group">
    <p>Strength</p>
    <p>{{ characterService.character.strength }}</p>
    <div class="input-button-group">
      <button (click)="handleStatSubtract('strength'); $event.preventDefault()">
        -
      </button>
      <button (click)="handleStatAdd('strength'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Dexterity</p>
    <p>{{ characterService.character.dexterity }}</p>
    <div class="input-button-group">
      <button
        (click)="handleStatSubtract('dexterity'); $event.preventDefault()"
      >
        -
      </button>
      <button (click)="handleStatAdd('dexterity'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Charisma</p>
    <p>{{ characterService.character.charisma }}</p>
    <div class="input-button-group">
      <button (click)="handleStatSubtract('charisma'); $event.preventDefault()">
        -
      </button>
      <button (click)="handleStatAdd('charisma'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Endurance</p>
    <p>{{ characterService.character.endurance }}</p>
    <div class="input-button-group">
      <button
        (click)="handleStatSubtract('endurance'); $event.preventDefault()"
      >
        -
      </button>
      <button (click)="handleStatAdd('endurance'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Intelligence</p>
    <p>{{ characterService.character.intelligence }}</p>
    <div class="input-button-group">
      <button
        (click)="handleStatSubtract('intelligence'); $event.preventDefault()"
      >
        -
      </button>
      <button (click)="handleStatAdd('intelligence'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Hitpoints</p>
    <p>{{ characterService.character.hitPoints }}</p>
    <div class="input-button-group">
      <button
        (click)="handleStatSubtract('hitPoints'); $event.preventDefault()"
      >
        -
      </button>
      <button (click)="handleStatAdd('hitPoints'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Mana</p>
    <p>{{ characterService.character.mana }}</p>
    <div class="input-button-group">
      <button (click)="handleStatSubtract('mana'); $event.preventDefault()">
        -
      </button>
      <button (click)="handleStatAdd('mana'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Stamina</p>
    <p>{{ characterService.character.stamina }}</p>
    <div class="input-button-group">
      <button (click)="handleStatSubtract('stamina'); $event.preventDefault()">
        -
      </button>
      <button (click)="handleStatAdd('stamina'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <h2>Stat points: {{ characterService.statPoints }}</h2>
</form>
