<form action="handleSubmit" id="character-form">
  <h3>Create Character</h3>

  <div class="input-group">
    <label for="name-input">Name</label>
    <input type="text" name="name" id="name-input" />
  </div>

  <div class="input-group">
    <label for="gender-select">Gender</label>
    <select name="gender-select" id="gender-select" [value]="character.gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="none">None</option>
    </select>
  </div>

  <div class="input-group">
    <label for="class-select">Class</label>
    <select name="class-select" id="class-select">
      <option value="mage">Mage</option>
      <option value="knight">Knight</option>
      <option value="bard">Bard</option>
      <option value="thief">Thief</option>
      <option value="cleric">Cleric</option>
    </select>
  </div>

  <div class="input-group">
    <p>Strength</p>
    <p>{{ character.strength }}</p>
    <div class="input-button-group">
      <button (click)="handleStatSubtract('strength'); $event.preventDefault()">
        -
      </button>
      <button (click)="handleStatAdd('strength'); $event.preventDefault()">
        +
      </button>
    </div>
  </div>

  <div class="input-group">
    <p>Dexterity</p>
    <p>{{ character.dexterity }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>

  <div class="input-group">
    <p>Charisma</p>
    <p>{{ character.charisma }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>

  <div class="input-group">
    <p>Endurance</p>
    <p>{{ character.endurance }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>

  <div class="input-group">
    <p>Intelligence</p>
    <p>{{ character.intelligence }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>

  <div class="input-group">
    <p>Hitpoints</p>
    <p>{{ character.hitPoints }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>

  <div class="input-group">
    <p>Mana</p>
    <p>{{ character.mana }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>

  <div class="input-group">
    <p>Stamina</p>
    <p>{{ character.stamina }}</p>
    <div class="input-button-group">
      <button (click)="$event.preventDefault()">-</button>
      <button (click)="$event.preventDefault()">+</button>
    </div>
  </div>
</form>

<!-- name: string;
  age: number;
  gender: 'male' | 'female' | 'none';
  class: 'mage' | 'knight' | 'bard' | 'thief' | 'cleric';
  strength: number;
  dexterity: number;
  charisma: number;
  intelligence: number;
  endurance: number;
  hitPoints: number;
  mana: number;
  stamina: number; -->
